@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* --Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    --Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

    /* Font Weights */
    --fw-1: 300;
    --fw-2: 400;
    --fw-3: 600;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto auto;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-image: url('/images/bg-pattern-desktop.svg');
}

.logo {
    grid-column: 1 / span 1;
}

.email {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}

.image {
    grid-column: 2 / span 3;
    grid-row: 1 / span 5;
}

.logo, .email {
    padding: 2rem 5rem 4rem 4rem;
}

.we {
    color: var(--Desaturated-Red);
    font-size: 6rem;
    font-weight: 300;
}

.bold-text {
    font-size: 7rem;
    font-weight: 600;
}

.update-text {
    width: 50%;
    color: var(--Desaturated-Red);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.email-bar {
    padding: 1.1rem;
    border-radius: 30px;
    width: 50%;
    background: transparent;
    border: 1px solid var(--Desaturated-Red);  
}

form button {
    float: right;
    width: 10%;
    padding: 0.9rem;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 30px;
    position: relative;
    right: 395px;
    bottom: 0;
    cursor: pointer;
}

::placeholder {
    color: var(--Desaturated-Red)
}

#error, .exclamation {
    display: none;
}